<div class="row">
    <div class="col-6">
        <app-grafico-dona [leyendaInput]="graficos.grafico1.leyenda" [doughnutChartLabelsInput]="graficos.grafico1.labels" [doughnutChartDataInput]="graficos.grafico1.data"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [leyendaInput]="graficos.grafico2.leyenda" [doughnutChartLabelsInput]="graficos.grafico2.labels" [doughnutChartDataInput]="graficos.grafico2.data"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [leyendaInput]="graficos.grafico3.leyenda" [doughnutChartLabelsInput]="graficos.grafico3.labels" [doughnutChartDataInput]="graficos.grafico3.data"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [leyendaInput]="graficos.grafico4.leyenda" [doughnutChartLabelsInput]="graficos.grafico4.labels" [doughnutChartDataInput]="graficos.grafico4.data"></app-grafico-dona>
    </div>
</div>
